section.article-header
    .header-wrapper
        .article-header-left-block
            .article-header-logo
                a(href='/')
                    img(src='../img/logo.png')
            .article-header-nav
                ul.menu-list
                    li
                        a#open-regulation REGULATION
                    li
                        a#open-about-us ABOUT US
                    li
                        a#open-for-traders FOR TRADER
        .article-header-btn-block
            button.article-header-btn Sign Up
    .inner-menu
        .inner-header-wrapper
            ul#regulation
                li
                    a(href='../html/regulation.html') Regulations
                li
                    a(href='../html/terms-and-conditions.html') Terms & Conditions
            ul#user-cabinet
                li
                    a(href='../cabinet/user-main.php') Trade Now
                li
                    a(href='../cabinet/leader-board.php') LeaderBoard
                li
                    a(href='') IQ Advisor
                li
                    a(href='../cabinet/tutorial.php') Tutorial
            ul#about-us
                li
                    a(href='../html/our-business-model.html') Our Business Model
                li
                    a(href='../html/iq-option-in-figures.html') IQ Option in Figures
                li
                    a(href='../html/iq-option-in-the-press.html') IQ Option in the Press
                li
                    a(href='../html/awards.html') Awards
                li
                    a(href='../html/aston-martin-racing.html') Aston Martin Racing
                li
                    a(href='../html/contact-us.html') Contact Us
            ul#for-traders
                li
                    a(href='../html/assets.html') Assets
                li
                    a(href='../html/historical-quotes.html') Historical Quotes
                li
                    a(href='../html/tournaments.html') Tournaments
                li
                    a(href='../html/faq.html') FAQ
