section.article-header
    .header-wrapper
        .article-header-left-block
            .article-header-logo
                a(href='/')
                    img(src='../img/logo.png')
            .article-header-nav
                ul.menu-list
                    li
                        a#open-regulation REGULATION
                    li
                        a#open-about-us ABOUT US
                    li
                        a#open-for-traders FOR TRADER
        .article-header-btn-block
            button.article-header-btn Sign Up
    .inner-menu
        .inner-header-wrapper
            ul#regulation
                li
                    a(href='../article/regulation.pug') Regulations
                li
                    a(href='../article/terms-and-conditions.pug') Terms & Conditions
            ul#user-cabinet
                li
                    a(href='../cabinet/user-main.php') Trade Now
                li
                    a(href='../cabinet/leader-board.php') LeaderBoard
                li
                    a(href='') IQ Advisor
                li
                    a(href='../cabinet/tutorial.php') Tutorial
            ul#about-us
                li
                    a(href='../article/our-business-model.pug') Our Business Model
                li
                    a(href='../article/iq-option-in-figures.pug') IQ Option in Figures
                li
                    a(href='../article/iq-option-in-the-press.pug') IQ Option in the Press
                li
                    a(href='../article/awards.pug') Awards
                li
                    a(href='../article/aston-martin-racing.pug') Aston Martin Racing
                li
                    a(href='../article/contact-us.pug') Contact Us
            ul#for-traders
                li
                    a(href='../article/assets.pug') Assets
                li
                    a(href='../article/historical-quotes.pug') Historical Quotes
                li
                    a(href='../article/tournaments.pug') Tournaments
                li
                    a(href='../article/faq.pug') FAQ
