section.footer-big
    .wrap
        .footer-wrapper
            .footer-nav
                .footer-nav-left
                    h3 ABOUT US
                    ul
                        li
                            a(href='../html/our-business-model.html') Our Business Model
                        li
                            a(href='../html/iq-option-in-figures.html') IQ Option in Figures
                        li
                            a(href='../html/iq-option-in-the-press.html') IQ Option in the Press
                        li
                            a(href='../html/awards.html') Awards
                        li
                            a(href='../html/aston-martin-racing.html') Aston Martin Racing
                        li
                            a(href='../html/contact-us.html') Contact Us
                .footer-nav-right
                    h3 FOR TRADERS
                    ul
                        li
                            a(href='../html/assets.html') Assets
                        li
                            a(href='../html/historical-quotes.html') Historical Quotes
                        li
                            a(href='../html/tournaments.html') Tournaments
                        li
                            a(href='../html/faq.html') FAQ
            .footer-risk
                h3 GENERAL RISK WARNING
                .risk-text-1
                    p
                        | Trading operations offered on this website can be considered High-Risk Trading Operations and
                        | their
                        | execution can be very risky. Purchasing financial instruments or utilising services offered on
                        | the
                        | website may result in significant losses or even in a total loss of all funds on your account.
                .risk-text-2
                    p
                        | You are granted limited non-exclusive non-transferable rights to use the IP provided on this
                        | website
                        | for
                        | personal and non-commercial purposes in relation to the services offered on the Website only. IQ
                        | OPTION
                        | EUROPE LTD. is licensed and regulated in Cyprus, a European Economic Area (EEA) country which
                        | allows
                        | us
                        | to offer certain products and services to other countries.
                .risk-text-3
                    p
                        | Amount to be credited to account in case of successful trade
                .socials-icon
                    a(href='https://www.facebook.com/')
                        img.fb(src='../img/facebook-logo-button.svg')
                    a(href='https://twitter.com/')
                        img.tw(src='../img/twitter-logo-button.svg')
                    a(href='https://www.instagram.com/')
                        img.ins(src='../img/instagram-logo.svg')
section.footer-little
    .wrap
        .footer-little-wrapper
            .footer-little-left
                p
                    | © IQ Option, 2013-2016. All Rights Reserved.
            .footer-little-right
                .footer-little-right-a-wrap
                    a(href='../html/regulation.html') Regulations
                    a(href='../html/terms-and-conditions.html') Terms & Conditions
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
script(src='../js/scripts.js')
