doctype html
html
    head
        include includes/head.pug
    body
    include includes/article-header
        section.article-page
            .wrap
                h2 Assets
                .assets-wrapper-header
                    .assets-table-row.table-header
                        span.assets-table-item Asset
                        span.assets-table-item Calculation formula
                        span.assets-table-item Stock exchange
                        span.assets-table-item Quotes provided by
                .assets-wrapper
                    .assets-table-row
                        span.assets-table-item EUR/USD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item EUR/GBP
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item GBP/JPY
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item EUR/JPY
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item GBP/USD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item USD/JPY
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item AUD/CAD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item NZD/USD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item EUR/RUB
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item USD/RUB
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item USD/CHF
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item AUD/USD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item USD/CAD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item AUD/JPY
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item GBP/CAD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item GBP/CHF
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item GBP/AUD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item EUR/CAD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item CHF/JPY
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item CAD/CHF
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item EUR/AUD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item USD/NOK
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item EUR/NZD
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item FX
                        span.assets-table-item Thomson Reuters
                    .assets-table-row
                        span.assets-table-item AIG
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Alibaba
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Amazon
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Apple
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item ASX200
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item ASX
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Gold (Futures)
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Shanghai Futures Exchange
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Baidu
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Barclays
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item London
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item BMW
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Börse Frankfurt
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Bank of America
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Brent Oil
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item ICE Futures Europe
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Cisco
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item CitiGroup
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item CocaCola
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Commerz Bank
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Börse Frankfurt
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Daimler
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Börse Frankfurt
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item DAX30
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Börse Frankfurt
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Deutsche Bank
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Börse Frankfurt
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Dow Jones
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item CME
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Facebook
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Ferrari
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item FTSE-100
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item London
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Gazprom
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item MOEX
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item General Motors
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Goldman Sachs
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Hang Seng
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item HKEx
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Intel
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item JP Morgan
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Lufthansa
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Börse Frankfurt
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item McDonalds
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Morgan Stanley
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item MicroSoft
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Nike
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item NIKKEI-225
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item CME
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item NASDAQ
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item Nasdaq Indicies
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Rosneft
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item MOEX
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item SberBank
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item MOEX
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item SMI
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item SIX Swiss Exchange
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item SONY
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item TSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item S&P500
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item CME
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item TOPIX500
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item TSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Toyota
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item TSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Tesla
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Twitter
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Vodafone
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item London
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Silver
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item CME
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Gold
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item CME
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Yahoo
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
                    .assets-table-row
                        span.assets-table-item Yandex
                        span.assets-table-item (Bid+Ask)/2
                        span.assets-table-item NYSE
                        span.assets-table-item DevExperts
        include includes/footer.pug