doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page
            .wrap.aston-martin
                h2
                    | PRESS RELEASE
                    span.orange ASTON MARTIN RACING
                h3 IQ Option Signs a Partnership Agreement with Aston Martin Racing
                img.aston-logo(src='../img/aston-martin_black.svg')
                p
                    | Aston Martin Racing, a major team participating in the World Endurance Championship (WEC), becomes the
                    | newest official partner of IQ Option. The partnership agreement covers all of 2016 and can be extended
                    | indefinitely.
                p
                    | With the status of Aston Martin as a high-end international brand, this partnership further illustrates IQ
                    | Option's global philosophy and reinforces our reputation as a trusted broker operating in the global arena.
                    | Taking place in 9 countries on 4 continents, the WEC is one of the most prestigious racing series in the
                    | world. Its crowning event is the renowned 24 Hours of Le Mans, which will be held for the 84th time in June
                    | this year.
                p
                    | As part of the partnership, a number of marketing and advertising campaigns aimed at increasing IQ Option
                    | brand awareness are planned at launch. The V8 Vantage GTE competing in the World Endurance Championship will
                    | have IQ Option stickers on the sides of the car. V12 Vantage GT3 will wear a full IQ Option Livery during
                    | the 24 hours of Nürburgring which is scheduled for May 28, 2016.
                .quote
                    .quote-left
                        img(src='../img/ceo.png')
                        span
                            b Alkis Hilton,
                            | CAO IQOption Europe Ltd
                    .quote-right
                        | Races are our passion, and Aston Martin Racing is a perfect partner for us. The WEC Racing Championship
                        | is a fusion of speed and reliability – essential features of our trading platform. Modern technologies
                        | are at its very core: immediate closure of transactions for instant and precise results, secure trading,
                        | and maximum speed. And just like on the track during a 24-hour race, total absence of breakdowns is an
                        | absolute must. Totally dependable speed and reliability – the only way to achieve success. True in
                        | racing, just as in business!
                p
                    | The first race is scheduled for April 17 in Silverstone, UK. That's where you'll have a chance to see an
                    | Aston Martin Racing car with our logo for the first time during the official competition.
                p
                    | For details, visit
                    a(href='http://www.astonmartin.com/racing/news/2016/02/16/aston-martin-racing-announces-new-partnership-with-iq-option')
                        | Aston Martin Racing
                .slider
                    ul
                        li
                            img(src='../img/slider/1.jpg', alt='')
                        li
                            img(src='../img/slider/2.jpg', alt='')
                        li
                            img(src='../img/slider/3.jpg', alt='')
                        li
                            img(src='../img/slider/4.jpg', alt='')
                        li
                            img(src='../img/slider/5.jpg', alt='')
        include includes/footer.pug