doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page.awards
            .wrap
                .awards-wrapper
                    .awards-row
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-8.png')
                            h3 Fastest growing binary option brand
                            p
                                | Global Brands Magazine, Britain’s reputable brand observer, awarded IQ Option along with a
                                | number of outstanding European brands — an achievement worth working for.
                            p
                                b Global Brands Magazine
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-9.png')
                            h3 Best mobile trading platform
                            p
                                | We are all living in a world where mobility matters most. The IFM Awards celebrated our
                                | excellence in providing mobile services to the European market.
                            p
                                b IFM Awards 2015
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-10.png')
                            h3 Most innovative binary option platform
                            p
                                | As Steve Jobs once said, innovation distinguishes between leaders and followers. Our innovative
                                | approach makes our product shine—and the evidence is in this beautiful accolade.
                            p
                                b IFM Awards 2015
                    .awards-row
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-11.png')
                            h3 Best Binary Options Broker Europe 2015
                            p
                                | Yet another remarkable piece of evidence that our brokerage services are appraised by both
                                | customers and business experts all over the world.
                            p
                                b Global Banking & Finance Review
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-1.png')
                            h3 Best Binary Options Broker and Best Binary Options Broker/Trading Application.
                            p
                                | At the IAIR Awards ceremony IQ Option was awarded not only as the best binary options broker but
                                | also as the creator and the developer of the best trading app!
                            p
                                b IAIR Awards
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-2.png')
                            h3 Best Binary Options Broker
                            p
                                | To be the best in the industry is our main goal. All-around perfection in our service and
                                | product was recognized with this award.
                            p
                                b FX Report Awards
                    .awards-row
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-3.png')
                            h3 Most Innovative Binary Option Broker
                            p
                                | IQ Option's industry-leading quality of service is now recognized in the professional financial
                                | world. This reward was given for innovation and our approach to the development of client
                                | services. Award received at the ShowFx World conference in Moscow.
                            p
                                b Show FX World
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-5.png')
                            h3 Most Reliable Binary Options Broker
                            p
                                | Our first priority is the security of our clients' funds. This was recognized by the experts at
                                | MasterForex-V, who awarded IQ Option the title of Most Trusted Binary Options Broker.
                            p
                                b MasterForex-V
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-6.png')
                            h3 World's Leading Binary Options Broker.
                            p
                                | At the same MasterForex-V IQ Option was awarded for being the World's Leading Binary Options
                                | Broker. The perfection in our service and product was recognized by the experts of the
                                | conference in 2014.
                            p
                                b MasterForex-V
                    .awards-row
                        .awards-item
                            .awards-item-img-wrapper
                                img(src='../img/awards/award-7.png')
                            h3 Best Trading Platform
                            p
                                | The IQ Option platform is a real blueprint for the industry. Isn't it great to trade on the
                                | absolute best platform the world has to offer? This award is the proof.
                            p
                                b Forex Awards 2014.
        include includes/footer.pug
