doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page.contact-us
            .wrap
                h2 Contacts
                p Domain and all rights belong to:
                h4
                    b IQOption Ltd
                p Address: Global Gateway 8, Rue de la Perle, Providence, Mahe, Seychelles
                p Paying agent:
                h4
                    b IQOPTION PAYMENT LTD
                p
                    | Address: Vasileos Pavlou, 60, Agios Dometios,
                    | 2360, Nicosia, Cyprus
                p support@iqoption.com
        include includes/footer.pug
