doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page.faq
            .wrap
                h2 FAQ
                #accordion
                    h3 What is a binary option?
                    .faq-block
                        p
                            | A binary option, also referred to as a digital option or an all-or-nothing option, is an option
                            | in which
                            | pay-out is determined at the onset of the contract. The trader receives a fixed amount of return
                            | if the
                            | option expires in-the-money, irrespective of how much the price of the underlying asset has
                            | moved. The
                            | trader never actually owns the asset. It is the security upon which an options’ contract is
                            | based.
                    h3 What is an asset?
                    .faq-block
                        p
                            | Asset is a commodity, index, stock, or currency pair that can be traded as a binary option.
                    h3 What is the strike price?
                    .faq-block
                        p
                            | The strike price is the price of the asset at the time of the purchase of the option.
                    h3 What is the expiration price?
                    .faq-block
                        p
                            | The expiration price is the price of the asset at the expiry of the time specified in the option. It
                            | is
                            | calculated according to the formula (Bid + Ask) /2.
                    h3 What is the expiration time?
                    .faq-block
                        p
                            | The expiration time is the date and time at which the option expires.
                    h3 What is a call option?
                    .faq-block
                        p
                            | A call option is an option that provides the trader with a predetermined profit when the underlying
                            | asset at the time of expiration is higher that at the time it was purchased.
                    h3 What is a put option?
                    .faq-block
                        p
                            | A put option is an a option that provides the trader with a predetermined profit when the underlying
                            | asset at the time of expiration is lower than when it was purchased.
                    h3 What is the option value?
                    .faq-block
                        p
                            | The option value is the price at which a trader acquires an option.
                    h3 How much profit can I get?
                    .faq-block
                        p
                            | If the option is closed “in-the-money” (the strike price is higher or lower than the expiration
                            | price,
                            | depending on the type of the option), you get a guaranteed profit specified in the option.
                    h3
                        | What happens if the expiry rate of a given underlying asset is identical to the rate
                        | at which the
                        | transaction was made?
                    .faq-block
                        p
                            | The option expires At-the-money and the investment amount is returned to the investor.
                    h3 What financial instruments do you offer?
                    .faq-block
                        p
                            | We offer a full range of financial instruments, ranging from equities, to indices, commodities and
                            | currency pairs freely traded on world and national exchanges and markets.
                    h3 What is the minimum deposit amount?
                    .faq-block
                        p
                            | The minimum deposit amount is $10.
                    h3 What is the minimum amount I can invest?
                    .faq-block
                        p
                            | The minimum amount to invest in a single option is $1.
                    h3 How long does it take to withdraw funds?
                    .faq-block
                        p
                            | Generally, withdrawal requests are processed within 3 business days. After the request is processed,
                            | it
                            | takes an average of 2 to 9 business days to transfer money to your account, depending on the payment
                            | method.
                    h3 Do I need any documents to withdraw funds?
                    .faq-block
                        p
                            | The representative of our Company might ask you to send us some scanned documents, depending on the
                            | withdrawal method. All the information will be sent to your e-mail.
                    h3 Are there any commissions upon making transactions with my trading account?
                    .faq-block
                        p
                            | Our company does not take any commissions on your transactions. But such commissions can be taken by
                            | payment systems or the payment aggregator.
                    h3
                        | Why the quotes are present on your platform at the weekend when the markets are
                        | closed?
                    .faq-block
                        p
                            | On weekends, we provide our traders with the opportunity to trade on OTC (over the counter)
                            | instruments.
                            | OTC or over the counter deal, is a transaction which was made directly between two parties without
                            | going
                            | public. This makes the quotes unique to our platform.
                    h3 What is the maximum daily deposit for one trader?
                    .faq-block
                        p
                            | The maximum daily deposit amount is $1,000,000.
                    h3 What is the minimum withdrawal amount?
                    .faq-block
                        p
                            | There is no minimum withdrawal amount.
                    h3 What is the Bid Price?
                    .faq-block
                        p
                            | Bid is the price the buyer is willing to pay for a financial instrument. It is always less than the
                            | "Ask" price.
                    h3 What is the Ask Price?
                    .faq-block
                        p
                            | Ask is the price at which the seller is willing to sell the financial instrument. It is always
                            | bigger
                            | than the "Bid" price.
                    h3 How can I confirm a card that does not support 3-D Secure protocol?
                    .faq-block
                        p
                            | If your card does not support 3-D Secure protocol, you will be prompted to confirm your card
                            | manually.
                            | After completing the verification procedure, you will be able to replenish your trading account with
                            | a
                            | single click.
                            | The procedure consists of a few simple steps:
                            ol
                                li
                                    | After the first payment is made from your card that does not support 3-DS, you will be
                                    | automatically prompted to pass a verification procedure.
                                li
                                    | The next time you deposit funds to your account, you can select the card you used previously.
                                li
                                    | In the dialog window, you will be prompted to accept the Card Verification Rules.
                                li
                                    | Then, a random amount ranging from $1 to $2 will be deducted from your bank account.
                                li
                                    | Check for the exact deduction amount specified in your Internet Banking system or SMS message
                                    | from
                                    | your bank and enter the deduction amount in USD into the appropriate field of the pop-up window.
                                li You have 3 attempts to enter the correct amount.
                                li
                                    | After entering the correct amount, the card will be linked to your account in order to simplify
                                    | payments in the future.
                                li
                                    | If the deduction amount is not entered correctly, the card will be unlocked from your account
                                    | and
                                    | subsequently you will need to specify all card details manually.
                                |                     In any case, the deducted amount will be refunded within 10 banking days.
        include includes/footer.pug
