doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page
            .wrap
                .his-quo-right
                    h2 Historical Quotes
                    p
                        | The quote history contains information on the exchange rates of currency pairs and other financial
                        | instruments over various time periods. You can load and see the desired histories, and use them to test
                        | strategies and perform technical analysis.
                    .assets-wrapper-header
                        .assets-table-row.table-header
                            span.assets-table-item Date
                            span.assets-table-item Bid
                            span.assets-table-item Ask
                            span.assets-table-item Quotes
                    .assets-wrapper
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:00
                            span.assets-table-item 1.07343
                            span.assets-table-item 1.07339
                            span.assets-table-item 1.07339
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:01
                            span.assets-table-item 1.07345
                            span.assets-table-item 1.07341
                            span.assets-table-item 1.07343
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:02
                            span.assets-table-item 1.07345
                            span.assets-table-item 1.0734
                            span.assets-table-item 1.073425
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:03
                            span.assets-table-item 1.07345
                            span.assets-table-item 1.0734
                            span.assets-table-item 1.073425
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:04
                            span.assets-table-item 1.07344
                            span.assets-table-item 1.07339
                            span.assets-table-item 1.073415
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:05
                            span.assets-table-item 1.07343
                            span.assets-table-item 1.07338
                            span.assets-table-item 1.073405
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:06
                            span.assets-table-item 1.07341
                            span.assets-table-item 1.07339
                            span.assets-table-item 1.0734
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:07
                            span.assets-table-item 1.07339
                            span.assets-table-item 1.07333
                            span.assets-table-item 1.07336
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:08
                            span.assets-table-item 1.0734
                            span.assets-table-item 1.07336
                            span.assets-table-item 1.07338
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:09
                            span.assets-table-item 1.07339
                            span.assets-table-item 1.07336
                            span.assets-table-item 1.073375
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:10
                            span.assets-table-item 1.07339
                            span.assets-table-item 1.07334
                            span.assets-table-item 1.073365
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:11
                            span.assets-table-item 1.0734
                            span.assets-table-item 1.07336
                            span.assets-table-item 1.07338
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:12
                            span.assets-table-item 1.07339
                            span.assets-table-item 1.07334
                            span.assets-table-item 1.073365
                        .assets-table-row
                            span.assets-table-item 2016-11-15 16:19:13
                            span.assets-table-item 1.0734
                            span.assets-table-item 1.07335
                            span.assets-table-item 1.073375
        include includes/footer.pug
