doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page.iq-option-in-figures
            .wrap
                div
                    h2
                        b GEOGRAPHIC
                        |    COVERAGE
                    p.under-h2-p
                        | In 2013, we started working with four members of the CIS only. Next year, the list of countries enlarged
                        | almost fivefold to comprise a number of European, South American, and Asian countries. By 2016, we are
                        | dealing with traders from 178 countries worldwide!
                    .block
                        .year
                            | 2014
                        .number
                            span.number-span 18
                            span.country countries
                        .text
                            p
                                | Australia, Belarus, Brazil, Canada, Germany, Indonesia, Italy, Kazakhstan, Malaysia, Moldova,
                                | Portugal, Russia, Singapore, Spain, Switzerland, Ukraine, United Kingdom, Uzbekistan
                    .block
                        .year
                            | 2015
                        .number
                            span.number-span 36
                            span.country countries
                        .text
                            p
                                | Australia, Austria, Azerbaijan, Bangladesh, Belarus, Belgium, Brazil, Canada, Denmark, Estonia,
                                | France, Germany, Hong Kong, India, Indonesia, Italy, Kazakhstan, Latvia, Malaysia, Moldova,
                                | Netherlands, New Zealand, Norway, Portugal, Russia, Singapore, South Africa, Spain, Sweden,
                                | Switzerland, Thailand, Turkey, Ukraine, United Arab Emirates, United Kingdom, Uzbekistan
                    .block
                        .year
                            | 2016
                        .number
                            span.number-span 178
                            span.country countries
                        .text
                            p
                                | Austria, Bangladesh, Brazil, Cambodia, Chile, China, Colombia, Costa Rica, Croatia, Czech
                                | Republic, Denmark, Dominican Republic, Ecuador, El Salvador, Estonia, Finland, France, Germany,
                                | Greece, Haiti, Hong Kong, Hungary, Indonesia, Ireland, Italy, Jamaica, Kenya, Kuwait, Latvia,
                                | Malaysia, Malta, Mexico, Mongolia, Morocco, Netherlands, New Zealand, Nigeria, Norway, Oman,
                                | Pakistan, Peru, Philippines, Portugal, Qatar, Romania, Saudi Arabia, Singapore, Slovakia,
                                | Slovenia, South Africa, South Korea, Spain, Sri Lanka, Sweden, Switzerland, Thailand, Tunisia,
                                | Turkey, United Arab Emirates, United Kingdom, Zimbabwe, etc.
        include includes/footer.pug
