doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page
            .wrap.article-wrap
                div
                    h2 Our Business Model
                    p
                        | Our business model is based on pure exchange rule - at any moment and for any price there are traders
                        b willing to buy
                        |  and there are traders
                        b willing to sell
                        | .
                    p
                        | In an ideal situation the positions of those who buy and of those who sell are equal.
                    p
                        | The
                        b clearing is done inside our system
                        |  and we get our commission out of the trading volume.
                    p
                        | In cases where there are
                        b differences
                        |  between the buyers and the sellers we pass this risk to the
                        b
                            | market
                            | maker
                        |  which covers the risk up to $7000, this risk is also called
                        b “exposure”
                        | .
                    h2
                        b PROFIT OF UP TO
                        span.green 85%
                    p
                        | We give our traders an average of up to
                        b 85% profit
                        | ; that means that our
                        b commission
                        |  is about
                        b 7.5%
                        |  from the inside clearing trading volume.
                    p
                        | The market maker will get the same commission but in the long run. This will happen due to the fact that according to the law of large numbers the chances of winning and losing are the same.
        include includes/footer.pug
