doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page
            .wrap
                .regulation
                    h2 Regulations
                    p
                        | In order to protect the invested funds, when selecting a company for a long-term partnership, a professional
                        | trader should consider not only the company's specific trading environment, but also, most importantly, the
                        | existence of documents confirming that the company's operations comply with the relevant countries' legal
                        | requirements, as well as internationally recognized financial standards.
        include includes/footer.pug
