doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page.terms-and-conditions
            .wrap
                .terms-wrap
                    .left-side-menu
                        ul
                            li#li-1 Terms & Conditions
                            li Risk Disclosure
                            li Privacy Policy
                            li Payment Policy
                            li Return and Refund Policy
                            li Anti Money-Laundering (AML) and Know Your Customer (KYC) Policy
                            li Bonus Policy
                            li Terms & Conditions
                    .right-side-text
                        h2 Terms & Conditions
                        p
                            b
                                | These Terms & Conditions (hereinafter referred to as the “Agreement”) shall regulate the relations
                                | between Iqoption Ltd., Reg. No. 094224, registered at: Global Gateway 8, Rue de la Perle,
                                | Provindence, Mahe, Seychelles, hereinafter referred to as the “Company”, and the User (a physical or
                                | legal entity) (hereinafter referred to as the “Client”) of www.iqoption.com (hereinafter referred as
                                | the “Website”).
                        h3 1. Terms
                        p
                            b Service
                            |  – services described in section 3 of this Agreement.
                        p
                            b Operation
                            |  – action performed at the Client’s Account, connected with but not limited to crediting of
                            |                     funds, return of funds, opening and closing of trade transaction.
                        p
                            b Account
                            |  – unique personified register of accounting of transactions/operations on the trade platform
                            |                     of the Company.
                        h3 2. Subject of the Agreement
                        ul
                            li
                                | The subject of the Agreement herein shall be provision of services to the Client by the Company
                                | based on the Agreement herein.
                            li
                                | The Client shall unambiguously admit terms and conditions of the Agreement herein by making an
                                | advance payment to the Account. Each operation performed by the Client on the trade platform
                                | shall become the subject of the Agreement herein and other documentation/information on the
                                | Website since the Client’s acceptance of conditions of the Agreement.
                            li Notes for Clients from the Russian Federation.
                            ul
                                li
                                    | For avoidance of any doubt, the Agreement herein is not concluded in the Russian Federation.
                                    | The present Agreement is concluded in the Republic of Seychelles.
                                li
                                    | Notwithstanding that provisions of the Agreement herein shall be subject to laws of the
                                    | Republic of Seychelles regulation and for avoidance of any doubt, the Service provided to
                                    | the Client by the Company shall not be the forex-dealer activity, how it is defined in
                                    | clause 4.1 of the Federal law of the Russian Federation “About the security market” No.
                                    | 39-FZ dated 22.04.1996. In accordance with the terms of the Agreement herein, within the
                                    | fulfillment of the Agreement herein by the Client, the Client under no circumstances could
                                    | undertake the obligations the amount of which is more than the amount of furnish collateral
                                    | provided by the Client to the Company (the Client’s money on the account of the Client). The
                                    | parties affirm that the Agreement herein is not set up in the legislation of the Russian
                                    | Federation without prejudice to the right of conclusion of the Agreement herein by the
                                    | parties in accordance with the clause 2 of article 421 of Russian Federation Civil code and
                                    | provisions of the Agreement herein shall be regulated by section 8 of the Agreement herein.
                                li
                                    | Notwithstanding that provisions of the Agreement herein shall be subject to laws of the
                                    | Republic of Seychelles regulation and for avoidance of any doubt, the Service provided to
                                    | the Client by the Company shall not be considered as gambling and not be considered as
                                    | wagering according to the definitions given in the Federal law dated 29.12.2006 No. 244-FZ
                                    | “About state regulation of activity regarding organization and fulfillment of gambling and
                                    | implementation of changes in some legal acts of the Russian Federation”.
                        h3 3. Services of the Company
                        ul
                            li
                                | Services of the Company – services provided by means of trade platform of the Company.
                            li
                                | Services of the Company comprise use of trading platform of the Company, customer support,
                                | analytics, news and marketing information.
                            li
                                | The Company shall fulfill trade operations of the Client and the Company does not provide trust
                                | services and consultations on trading. The Company can conduct trading operations of the Client
                                | even in case such trading operation may be unprofitable for the Client.
                            li
                                | The Client guarantees that all provisions of the Agreement herein, as well as conditions of the
                                | Privacy Policy, Funds Return Policy, Payment Policy, Cashback Policy and Anti-Money Laundering
                                | Policy (and any other additions and annexes herein) published on the Website were carefully read
                                | and accepted by the Client, for these terms define all conditions of Client-Company interaction.
                            li
                                | The Company shall not be financially liable for the results of the Operations conducted by the
                                | Client.
                            li
                                | The Client is the only authorized user of the Company’s services. The Client is irreplaceable
                                | subject of legal relations emerging from the provisions of the Agreement herein. Client's rights
                                | cannot be delegated, and obligations cannot be imposed on another person.
                            li
                                | In case the Client is a private person, the Client personally fulfilled the registration form
                                | and is an adult, legally capable citizen, not resident or citizen of the following countries:
                                | USA, Canada, Australia, Belgium, Israel, Palestine, Japan, Sudan, Syria, Iran, North Korea or
                                | countries of the European Union. No person but the Client has rights of claim or obligations
                                | regarding Operations conducted by the Client on the Website. If the Client acts on behalf of
                                | somebody’s name, the Company shall not accept this person as a Client and shall not be liable
                                | before this person regardless if such person was identified or not.
                            li
                                | The Client has the right to cancel his order given to the Company within 3 seconds after the
                                | moment of giving such order to the Company (hereinafter referred to as the "Cancellation").
                                | Three seconds from the moment of giving the order to the Company by the Client via the platform,
                                | the Company may (but is not obliged to) offer to buyout the option from the Client and the
                                | Client have the right to agree to such offer.
                                | The Client is entitled to use such Cancellation or Buyout option subject to the conditions
                                | specified on the platform. Such conditions can also include the fee charged by the Company. Such
                                | fee is specified on the platform. The Company is obliged to provide all necessary information as
                                | to the conditions of Cancellation and Buyout, their cost, etc. The Client acknowledges and
                                | agrees that provision of such information on the platform is sufficient. The Client acknowledges
                                | and agrees that the use of Cancellation or Buyout is very risky to the Client as long as the
                                | cost of Cancellation and/or Buyout depends on the market situation. The Client acknowledges and
                                | agrees that he bears all the risks associated with the use of Cancellation and/or Buyout.
                        h3 4. Rights, Obligations and Guarantees of the Parties
                        ul
                            li The Client shall be entitled to:
                            ul
                                li
                                    | Give the Company an order to conduct trading Operations on the Website, provided by the
                                    | Agreement herein;
                                li
                                    | In case of absence of debt to the Company, to demand the Company to fulfill its financial
                                    | obligations to the extent of free amount of funds at the Company’s Account;
                                li
                                    | In case a disputable situation occurs, to make a claim properly in official letter or via
                                    | email to account specified by the Company;
                                li
                                    | Unilaterally Terminate the Agreement herein in case no debt to the Company exists.
                            li The Client shall be obliged to:
                            ul
                                li Fulfill provisions of the Agreement herein conducting Operations on the Website;
                                li
                                    | To be exclusively responsible for all actions resulted from usage of usernames and/or
                                    | passwords;
                                li
                                    | To be exclusively responsible for all his/her actions, including giving orders to conduct
                                    | Operations on the Website;
                                li
                                    | To be exclusively responsible for correct trading strategy choice and consideration of all
                                    | possible risks;
                                li
                                    | Be completely responsible for preserving confidentiality of information received from the
                                    | Company and to accept risk of financial loss that may result from unauthorized access to
                                    | his/her own Account by the third parties.
                                li
                                    | Notify the Company of any changes of contact details and any other changes of the provided
                                    | personal data within 7 (seven) calendar days since such changes come into effect.
                                li
                                    | Register only 1 (one) Account in the Company. In case that the Client owns multiple
                                    | accounts, the transaction and the financial results of such transactions in these accounts
                                    | can be canceled. All such accounts can be blocked, and funds contained therein will not be
                                    | considered as financial obligation of the Company before the Client.
                                li
                                    | Indemnify and hold harmless of the Company due to any claims and legal actions regarding the
                                    | Company as a result of disclosure of personal data of the Client.
                                li
                                    | The Client shall be agree to accept the complete responsibility for his actions according to
                                    | current tax legislation valid at the place of residence/living of the Client regarding any
                                    | performed operations, including but not limited to revenue tax.
                            li The Client shall guarantee to:
                            ul
                                li comply with legal rules of the jurisdiction where the Client lives;
                                li be legally capable and a person of majority age;
                            li The Company shall be entitled to:
                            ul
                                li
                                    | Modify the size of the value of the Company’s financial obligations to the Client with
                                    | changes of the appropriate entry of the trade operations register in case of violation of
                                    | one or several provisions of the Agreement herein by the Client;
                                li
                                    | Terminate the Client’s service at any time with any reasonable grounds (preliminary
                                    | notification of the Client regarding this shall not be obligatory);
                                li
                                    | Unilaterally in the extrajudicial procedure terminate the Agreement herein without
                                    | reimbursement of any loss suffered by the Client. In such case the Company shall notify the
                                    | Client within 3 (three) working days after such termination in any possible way;
                                li
                                    | The Company saves the right to change, add or set as default the option payments rate,
                                    | return rate, the possibility of adjustment the return rate, the possibility of acquiring the
                                    | option type, the minimum and/or the maximum option amount, the possible expiration periods
                                    | for one, several or all of the of the assets. The company shall be entitled to limit the
                                    | maximum amount of purchased options for 1 (one) minute, 1 (one) hour, 1 (one) calendar day;
                                li
                                    | Contact the Client with any question concerning the Agreement herein, including, in order to
                                    | make certain in the Client's intentions regarding his/her actions on the Account;
                                li
                                    | Modify, to add, to rename or to leave unchanged any sections, paragraphs and sub-paragraphs
                                    | of the Agreement herein without preliminary notification of the Client regarding such
                                    | changes;
                                li
                                    | Modify the size of the value of the Company’s financial obligations to the Client, if
                                    | fulfillment of Operations on the trading platform does not comply with conditions of the
                                    | Agreement herein;
                                li
                                    | Engage the third parties with contractual relations for Service provision in accordance with
                                    | the Agreement herein;
                                li
                                    | Unilaterally terminate the Agreement herein with preliminary notification of the Client
                                    | regarding such termination and fulfillment of financial obligations before the Client to the
                                    | extent of the amount of free funds available at the Account;
                                li
                                    | In regards to any obligations and situations not covered by the Agreement provisions herein
                                    | the Company has a right to act at its own discretion in accordance to business customs and
                                    | existing practice.
                            li Obligations of the Company:
                            ul
                                li
                                    | In accordance to the Agreement provisions herein to provide Services on the Company’s
                                    | Website;
                                li
                                    | In accordance to the Agreement provisions herein, in case no debt on the part of the Client
                                    | exist, on the Client's request to fulfill the Company’s financial obligations before the
                                    | Client to the extent of the amount of free funds on the Account;
                                li To fulfill provisions of the Agreement herein.
                        h3 5. Personal Data
                        ul
                            li
                                | Accepting provisions of the Agreement herein, the Client grants his/her consent to process the
                                | personal data provided by the Client, both without use of automatic controls, and with its use.
                                | Under the personal data for the purposes of this Agreement the parties mean: Name, Surname and
                                | Patronymic, gender, address, phone number, e-mail, IP address of the Client and the information
                                | which concern the provision of services to the client (the trade story).
                            li
                                | The Client shall be obliged to provide truthful, exact and complete information according to the
                                | personal data about the Client requested by the Company.
                            li
                                | The purpose of processing the personal data shall be fulfillment of the regulating legislation
                                | requirements as well as obligations before the Client and other subjects of the personal data
                                | within the fulfillment of the Agreement herein.
                            li
                                | During processing of the personal data the Company shall be entitled to collect, record,
                                | systematize, accumulate, store, adjust (update, change), extract, use, transfer (disseminate,
                                | provide, access), anonymize, block, delete, destroy and perform any other actions according to
                                | the current regulating legislation.
                            li
                                | Storage and processing of the personal data of the Client can be fulfilled by the Company during
                                | the term of the Agreement, as well as within 5 years after termination of the Agreement herein.
                            li
                                | The Client shall admit and confirm that in case the need to provide the Personal data to fulfill
                                | the purposes of the Agreement to the third party as well as in case of engaging of the third
                                | parties to render services for the specified purposes, the Company shall be entitled to disclose
                                | the information about the Client in the necessary amount to fulfill the actions mentioned above,
                                | including the Personal data to such third parties, their authorized representatives as well as
                                | to provide documents for such persons which contain such information.
                            li
                                | The Company shall not be entitled to include the Personal data of the Client in the public
                                | information sources with the exception of cases provided by the regulating legislation.
                            li
                                | During processing of the Personal data of the Client the Company shall take necessary legal,
                                | organizational and technical measures to protect the Personal data from unauthorized or
                                | accidental access, destruction, change, blocking, copying, provision, and dissemination as well
                                | as from other illegal actions regarding the Personal data of the Client.
                        h3 6. Risk Statement
                        p
                            | The Client has read, understood and accepted the risk statement due to use of Service on the
                            | Website, which is published on the Website of the Company.
                        h3 7. Charges and Fees
                        ul
                            li
                                | The Company shall be entitled to receive the fee from the Client regarding the Service(s),
                                | provided by the Company. Accepting the Agreement herein, the Client shall agree that he or she
                                | shall be obliged to compensate the fee to the Company for bank transfer in the amount not more
                                | than 110 Euro in case of bank transfer by the Company in favor of the Client (hereinafter
                                | referred to as the “Transfer fee”).
                            li
                                | The Client shall authorize the Company to withdraw the fee for transfer from the Client’s
                                | Account.
                            li
                                | In case if none of the Operations (hereinafter referred to as “Inactive Account”) are fulfilled
                                | on the trade platform of the Company by the Client for 90 (ninety) calendar days in a row, the
                                | Company shall be entitled to apply the service fee for Inactive Account in the amount of 50 Euro
                                | to unused balance of the Client’s account. Such annual fee shall be not more than the total
                                | balance of the Client’s Account.
                        h3 8. Regulating legislation
                        ul
                            li
                                | The provisions of the Agreement herein shall be regulated by the legislation of the Republic of
                                | Seychelles.
                            li
                                | Regarding the provisions of the Agreement herein the Client shall agree with the jurisdiction of
                                | courts of the Republic of Seychelles.
                            li
                                | All disputable situations shall be resolved according to the laws of the Republic of
                                | Seychelles.
                            li
                                | The Company shall be entitled to use the interpreters’ services during the court trial in case
                                | of dealing with disputable situation according to the legislation of the Republic of Seychelles.
                        h3 9. Term and Termination of the Agreement
                        ul
                            li The Agreement herein shall be concluded for the uncertain term.
                            li
                                | The Agreement herein shall come into force when the Client makes an advanced payment to the
                                | Company. In case of any discrepancies between the text of the Agreement herein in Russian and in
                                | English, the text of Agreement in Russian shall prevail in comparison with version of the
                                | Agreement herein and appropriate documents in other languages.
                            li The Agreement herein shall be terminated when the Client’s Account is blocked.
                            li
                                | The Company has a right to terminate the Agreement immediately without prior notice if it
                                | becomes known that the Client: а) is not of legal age according to the legislation of the
                                | country where the Client is the citizen b) or the resident or the Client is the citizen or the
                                | resident of the following countries: USA, Canada, Australia, Belgium, Israel, Palestine, Japan,
                                | Sudan, Syria, Iran, North Korea, countries of the European Union, c) the Client who is Russian
                                | citizen or resident and has registered an account on the Website of the Company later than the
                                | 1st of July 2016.
                            li
                                | In case of termination of the Agreement herein due to reasons specified in section 9.4, the
                                | Company shall not be financially obliged to the Client.
                        h3 10. Terms and Conditions for 1-Click Service
                        ul
                            li
                                | The Client shall agree to make a deposit to his/her Account to use the Company Services or any
                                | other additional services ordered by the Client on the Website as well as all additional
                                | expenses (if necessary), including but not limited to any taxes, duties, etc. The Client shall
                                | be completely responsible for timely depositing of his/her Account. Provider of payment services
                                | shall ensure only fulfillment of payment in the amount defined by the Site and shall not be
                                | liable for payment of the above-mentioned additional amounts by the Website’s Client.
                            li
                                | The payment is considered to be processed and cannot be returned after clicking the “Payment”
                                | button. By clicking the “Payment” button, the Client shall agree that he/she cannot return the
                                | payment or require its recall. Additionally, by accepting the terms of the rules herein (and/or
                                | Rules and Conditions), the Client as the owner of the payment card confirms that he/she shall be
                                | entitled to use the Services offered on the Website.
                                | In case if the Client uses the Services of the Website, the Client shall confirm that he/she
                                | became of legal age or beyond, that is legally allowed in the residence/jurisdiction of the
                                | Client in order to use the Services provided by the Website. When starting to use the Services,
                                | the Client shall be legally liable for fulfillment of the legislation of any country where this
                                | Service is used and shall confirm that provider of payment services shall not be in any case
                                | liable for any such illegal or unauthorized violation. Agreeing to use the Website’s Services,
                                | the Client shall understand and accept that processing of any of the Client’s payment shall be
                                | fulfilled by the provider of payment services and no legal right exists for return of already
                                | purchased Services or other options of payment cancellation. In case if the Client is willing to
                                | refuse from using of the 1-Click service for the next purchase of the Service, the Client can
                                | refuse from 1-Click service using the Account on the Website.
                            li
                                | The Provider of the payment services shall not be in any case liable for refuse/impossibility to
                                | process the data connected with payment card of the Client, or for refuse connected with failure
                                | to obtain permission from the issue bank to process payment using the payment card of the
                                | Client. The Provider of payment services shall not be in any case liable for quality, amount,
                                | and price of any service, offered to the Client or purchased by the Client of the Website using
                                | the payment card of the Client. Paying for any Services of the Website the Client first of all
                                | shall be obliged to fulfill the rules of using the Website. We are asking to consider that only
                                | the Client as the owner of the payment card shall be liable for timely payment of any service
                                | ordered via the Website and for all additional expenses/fees connected with this payment. The
                                | Provider of payment services shall only be the performer of payment in the amount specified by
                                | the Website and shall not be in any case liable for any pricing, general prices and/or total
                                | sums.
                            li
                                | In case of the situation connected with the Client’s dissent with the terms mentioned above
                                | and/or any other reasons, we are asking the Client to promptly refuse from making a payment and
                                | to directly address the administrator/support of the Website if necessary.
                        h3 Annex 1 to Terms and Conditions             p
                            | Technical Regulation
                        h3 1. Processing of Trade Requests and Orders
                        ul
                            li Processing of Client requests and orders has the following structure:
                            ul
                                li
                                    | After any Client makes a request or order, the request is tested for its correctness in the
                                    | trading platform;
                                li The trading platform sends the request or order to the server;
                                li
                                    | After the request or order is received by the server it is tested for correctness;
                                li
                                    | The server, after processing of the order or the request, sends the results to the trading
                                    | platform;
                                li
                                    | In case that the connection between the trading platform and the server is correct, the
                                    | trading platform will receive the results of processing of the Client request or order by
                                    | the Company.
                            li
                                | The time of the process may vary and depends on the quality of the communication between the
                                | trading platform and the server of the Company, as well as on the market conditions. In normal
                                | market conditions the time of the process usually varies between 0-4 seconds. In market
                                | conditions that differ from normal, the time of Client request and order processing can be
                                | higher than that.
                            li
                                | The server of the Company may refuse to the Client request in the following cases:
                            ul
                                li
                                    | If the client sends the request before the first quote in the trading platform on the market
                                    | opening;
                                li If there is not enough funds on the Client’s account for opening a new position;
                                li If the Client sends the request before the opening of the trading session;
                                li If the Client sends the request before the opening of the trading session;
                            li
                                | When using the trading platform it is allowed to use only one tab of the browser. In case of
                                | using several tabs of the browser the results of trade can be corrected and/or cancelled..
                        h3 2. Quotes
                        ul
                            li
                                | The client acknowledges that the only reliable source of quote flow information is the main
                                | server for Customer requests. The quotes on the trading platform cannot serve as a reliable
                                | source of information about the real quotes flow, as in the case of unstable connection between
                                | the trading platform and the server part of the quotes from the flow may not reach the trading
                                | platform.
                            li
                                | The graphs displayed on the trading platform are indicative. Thus, the Company does not
                                | guarantee that the transaction will be made at the same prices specified on the graph in the
                                | trading platform at the time of submission of the other Customer transactions.
                            li The price displayed on the trading platform is formed by the formula (Bid+Ask)/2
                            li
                                | Non-market quote – the price in the trading platform which does not correspond to the price on
                                | the market at this moment of time (hereinafter referred to as the “Non-market price”).
                            li
                                | In case if the Company fulfilled the Client’s request for Non-market quote, the following shall
                                | be imposed on the Company’s duty:
                            ul
                                li
                                    | In case of position closing – correction of the financial result between incorrect closing
                                    | of the position and closing according to real market price corresponding to the closing
                                    | moment of transaction according to Non-market price;
                                li
                                    | In case of position opening – the Company reserves the right to cancel the financial result
                                    | regarding such position.
                        h3 3. Processing of Client Orders to Open Positions
                        ul
                            li
                                | If the amount of available funds is sufficient to open a position - the position will be
                                | opened.
                            li
                                | If the size of the available funds is insufficient to open a position - the position will not be
                                | opened.
                            li
                                | The Client’s order to open a position is proceed, and the position is opened only after the
                                | corresponding entry in the server log file. Each new position is assigned with a serial number.
                        h3 4. Processing of Client Orders to Close Positions
                        ul
                            li
                                | Closing of trading position occurs at the current price at the trading server at the moment of
                                | closing of the trading operation.
                        h3 5. OTC Assets
                        ul
                            li
                                | OTC Asset or “over the counter” is an asset that traded out of the regular market (hereinafter
                                | referred to as the “Asset”).
                            li
                                | The Asset’s price is formed from data for trade requests and orders of the Clients, received by
                                | the Company.
                            li
                                | The Client acknowledges that by making trade requests and orders on such Asset, he/she
                                | understands the essence of the work of such an Asset and the pricing algorithm of the Asset.
                            li
                                | The Client acknowledges that by making trade requests and orders on such Asset, he/she admits
                                | that the only reliable source of quoting information is the main server for the trade orders of
                                | the Clients.
                        h3 6. Fraud
                        ul
                            li In the event that the Company discovers fraud schemes such as:
                            ul
                                li
                                    | Fraud associated with credit card transactions and other ways to fill a balance that does
                                    | not belong to the Client;
                                li Fraud associated with the use of software for false trading results;
                                li Fraud associated with errors and system failures for false trading results;
                                li
                                    | and in case of reasonable suspicion of the Company regarding the fraud schemes, mentioned
                                    | above, the Company shall be entitled to block the Client's account without prior notice and
                                    | without the possibility of further money withdrawal and/or entitled to unilaterally
                                    | terminate the Agreement in the extrajudicial procedure.
        include includes/footer.pug