doctype html
html
    head
        include includes/head.pug
    body
        include includes/article-header
        section.article-page.tournaments
            .wrap.tournaments-wrap
                h2 Tournaments in progress
                .tournaments-block
                    .tournaments-block-left
                        h3 The White House
                        h4
                            | Time left to the end:
                            b 2 days 4 hours
                        .tournaments-items-wrapper
                            .tournaments-block-item
                                span.top $10
                                span.bottom Entry fee
                            .tournaments-block-item
                                span.top 2400
                                span.bottom Participants
                            .tournaments-block-item
                                span.top.orange
                                    b $19815
                                span.bottom.orange Prize pool
                    .tournaments-block-right
                        button Registration
                h2 Upcoming tournaments
                .tournaments-block
                    .tournaments-block-left
                        h3 Salary in a day #28
                        h4
                            | Time left to the end:
                            b 8 hours 31 minutes
                        .tournaments-items-wrapper
                            .tournaments-block-item
                                span.top $14
                                span.bottom Entry fee
                            .tournaments-block-item
                                span.top 1841
                                span.bottom Participants
                            .tournaments-block-item
                                span.top.orange
                                    b $30000
                                span.bottom.orange Prize pool
                    .tournaments-block-right
                        button Registration
                h2 Past tournaments
                .tournaments-block
                    .tournaments-block-left
                        h3 IQ Launch #3
                        h4
                            | Closing date:
                            b 06.11.2016 23:00
                        .tournaments-items-wrapper
                            .tournaments-block-item
                                span.top $10
                                span.bottom Entry fee
                            .tournaments-block-item
                                span.top 1153
                                span.bottom Participants
                            .tournaments-block-item
                                span.top.orange
                                    b $25041
                                span.bottom.orange Prize pool
                    .tournaments-block-right
                        button Registration
        include includes/footer.pug